body{
    background-image : url(spve.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}
input
{
    width: 400px; ;
    height: 50px; ;
    font-size: 20px;
    color: rgb(6, 10, 255);
    margin: 20px;
    border-style: double;
    border-width: thick;
    border-color: rgb(216, 0, 0);
}

:root {
    --clr-neon: rgb(96, 201, 36);
    --clr-bg: rgb(0, 0, 0);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  .button5 {
    font-size:30px;
    font-family: 'Sedgwick Ave Display', cursive;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  
    position: relative;
    margin: 30px;
  }
  .button5:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  .button5:hover,
  .button5:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  .button5:hover::before,
  .button5:focus::before {
    opacity: 1;
  }
  .button5:hover::after,
  .button5:focus::after {
    opacity: 1;
  }
  .sub {
    font-size:20px;
    font-family: 'Sedgwick Ave Display', cursive;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  
    position: relative;
    margin: 30px;
  }
  .sub:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  .sub:hover,
  .sub:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  .sub:hover::before,
  .sub:focus::before {
    opacity: 1;
  }
  .sub:hover::after,
  .sub:focus::after {
    opacity: 1;
  }