body 
  {
      background-color: #000000;
      background-image : url(spidy.jpg);
      background-size:cover;
      background-position: center;
      background-attachment: fixed;
      padding: 0px;
      font-family: 'Sedgwick Ave Display', cursive;
      font-size:18px;
      color:rgb(255, 220, 19);
  }
 
  :root {
    --clr-neon: rgb(40, 19, 224);
    --clr-bg: rgb(27, 27, 23);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  .venom{
    height: 700px;
    width: 500px;
    margin-left: -900px;
    margin-top: -800px;
    margin-bottom:250px;
    transform: rotate(15deg);
    transform-origin:top;
    animation: venom 6s linear infinite;
  }
  @keyframes venom{
    0%{transform: rotate(8deg);}
    50%{transform: rotate(-8deg);}
    100%{transform: rotate(8deg);}
  }
  
  .button2 {
    font-size:40px;
    font-family: 'Sedgwick Ave Display', cursive;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  
    position: relative;
    margin: 30px;
  }
  .button2:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  .button2:hover,
  .button2:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  .button2:hover::before,
  .button2:focus::before {
    opacity: 1;
  }
  .button2:hover::after,
  .button2:focus::after {
    opacity: 1;
  }
  