.text
{

}
:root {
  --clr-neon: rgb(241, 43, 43);
  --clr-bg: rgb(27, 27, 23);
}

*,
*::before,
*::after {
  box-sizing: border-box;
} 
#videoBG {
  position: absolute;
  top: 0;
  left: 0;
  width: 250%;
  padding: 0px 0px;
  z-index: -1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-aspect-ratio: 16/9) {
  #videoBG {
      width:100%;
      height:auto;
  }
}
@media (min-aspect-ratio: 16/9) {
  #videoBG {
      width:100%;
      height:auto;
  }
}
@media (min-aspect-ratio: 16/9) {
  #videoBG {
      width:100%;
      height:auto;
  }
}
body 
{
    background-color: #000000;
    background-image : url(https://i.pinimg.com/originals/56/24/da/5624da1e90a6855c0879dc6f41073748.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    padding: 0px;
    font-family: 'THE AMAZING SPIDER-MAN', sans-serif;
    font-size:40px;
    color:rgb(233, 201, 19);
}
.bg{
  margin-left:700px;
  margin-buttom: 500px;
  width: 100px;
  z-index: -1;
}
img{
  position: absolute;
}
.miles{
  height: 550px;
  width: 550px;
  margin-left: -800px;
  margin-top: -100px;
  animation: miles 10s linear infinite;
}
.miles-shadow{
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  height: 10px;
  width: 200px;
  border-radius: 50%;
  top: 550px;
  bottom: 100px;
  left: 150px;
  transform: scale(1.0);
  box-shadow: 0px 0px 30px black;
  animation: miles-shadow 10s linear infinite;
}
@keyframes miles{
  0%{margin-top: -600px;}
  25%{margin-top: -15px;}
  50%{margin-top: -100px;}
  75%{margin-top: -15px;}
  100%{margin-top: -600px;}
}
@keyframes miles-shadow{
  0%{
    transform: scale(0);
  }
  25%{
    transform: scale(1.0);
  }
  50%{
    transform: scale(0.5);
  }
  75%{
    transform: scale(1.0);
  }
  85%{
    transform: scale(0);
  }
  100%{transform: scale(0)
  }
}

.flowbut {
  font-size:40px;
  font-family: 'Sedgwick Ave Display', cursive;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
  margin: 30px;
}

.flowbut:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.flowbut:hover,
.flowbut:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.flowbut:hover::before,
.flowbut:focus::before {
  opacity: 1;
}
.flowbut:hover::after,
.flowbut:focus::after {
  opacity: 1;
}
.levelbut {
  font-size:40px;
  font-family: 'Sedgwick Ave Display', cursive;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
  margin: 30px;
}

.levelbut:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.levelbut:hover,
.levelbut:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.levelbut:hover::before,
.levelbut:focus::before {
  opacity: 1;
}
.levelbut:hover::after,
.levelbut:focus::after {
  opacity: 1;
}
.tempbut {
  font-size:40px;
  font-family: 'Sedgwick Ave Display', cursive;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
  margin: 30px;
}

.tempbut:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.tempbut:hover,
.tempbut:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.tempbut:hover::before,
.tempbut:focus::before {
  opacity: 1;
}
.tempbut:hover::after,
.tempbut:focus::after {
  opacity: 1;
} 
.psbut {
  font-size:40px;
  font-family: 'Sedgwick Ave Display', cursive;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
  margin: 30px;
}

.psbut:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.psbut:hover,
.psbut:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.psbut:hover::before,
.psbut:focus::before {
  opacity: 1;
}
.psbut:hover::after,
.psbut:focus::after {
  opacity: 1;
} 
.sentbut {
  font-size:40px;
  font-family: 'Sedgwick Ave Display', cursive;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
  margin: 30px;
}

.sentbut:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.sentbut:hover,
.sentbut:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.sentbut:hover::before,
.sentbut:focus::before {
  opacity: 1;
}
.sentbut:hover::after,
.sentbut:focus::after {
  opacity: 1;
}